.bg{
    overflow: hidden;
    
}
.toolBox{
    backdrop-filter: blur(2px);
    position: fixed;
    top:10px;
    background-color: rgba(255, 255, 255, 0.904);
    display:flex;
    z-index:3;

    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 1px 5px 1px rgb(238, 238, 238);
    left: 50vw;
    transform: translateX(-50%);
    padding:3px;
    border: solid 1px rgba(214, 214, 214, 0.534);
    
    &-button{
        background-color: rgba(255, 255, 255, 0);
        width:40px;
        height:40px;
        border: 0;
        border-radius: 10px;
        margin-right:5px;
        
        color:rgb(0, 0, 0);
        
    }
    &-button:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.034);
    }
    &-button:active{
        outline: solid 1px gray
    }
    &-button-active{
        width:40px;
        height:40px;
        margin-right:5px;
        border-radius: 10px;
        background-color: rgba(204, 203, 248, 0.616);
       
        border: 0;
        color:rgb(255, 255, 255);
        transition: all ease 0.2s;
       
    }
    &-colorBox{
        margin: 5px 5px 0px 0px;
        &-desc{
            color:rgb(12, 12, 12);
            font-size: 13px;
        }
    }
    &-icon{
        width:15px;
        height:15px;
        filter: invert(57%) sepia(11%) saturate(11%) hue-rotate(118deg) brightness(50%) contrast(85%);
    }
    &-icon-active{
        
        width:15px;
        height:15px;
        filter: invert(36%) sepia(68%) saturate(1859%) hue-rotate(230deg) brightness(101%) contrast(87%);
    }
    
}
.toolDetail{
    position: fixed;
    top:10px;
    left:10px;
    color: rgb(75, 75, 75);
    background-color: rgba(255, 255, 255, 0.774);
    box-shadow: 0px 1px 3px 1px rgb(221, 221, 221);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    &-detailBox{
        margin:10px;
        &-desc{
            font-size: 13px;
            font-weight: bold;
        }

        &-buttonBox{
            display:flex;
            flex-direction: row;
            &-button{
                width:30px;
                height:30px;
                background-color: rgb(221, 221, 221);
                border-radius: 5px;
                border: 0;
                margin: 5px 5px 0px 0px;
                
            }
            &-button:hover{
                cursor: pointer;
               
            }
            &-button:active{
                outline: solid 1px gray
            }
            &-activeButton{
                width:30px;
                height:30px;
                background-color: rgba(204, 203, 248, 0.884);
                border-radius: 5px;
                border: 0;
                margin: 5px 5px 0px 0px;
                transition: all ease 0.2s;

            }
        }
    }

}
.participants{
    position: fixed;
    top:10px;
    right:10px;
  
    background-color: rgba(255, 255, 255, 0.774);
    box-shadow: 0px 1px 3px 1px rgb(221, 221, 221);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    padding:10px;
    &-desc{
        font-size: 13px;
        font-weight: bold;
    }
    &-box{
        margin-top:10px;
        display:flex;
        flex-direction: row;
        &-img{
            width: 40px;
            height:40px;
            border-radius: 100px;
        }
        &-desc{
            padding:0px 10px 0px 10px;
            height:40px;
            transform:translateY(10px);
            
        }
    }
    
}