.Alarm{
    position: absolute;
    width: 300px;
    height:50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.568);
    color:white;
    z-index: 1;
    top:50vh;
    left:50vw;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    transform:translate(-50%,50%)
}