@font-face {
    font-family: "Tway";
    font-weight: 50;
    src: url("../main/TeamComponents/fonts/tway_air.ttf") format("truetype");
  }
@mixin ModalStyle{
    position: absolute;
    top:50vh;
    transform: translateY(-50%);
    z-index:101;
    background-color: rgb(255, 255, 255);
    width:400px;
    height:200px;
    border-radius: 15px;
    padding:50px;
    transition: all ease 0.3s;
}
@mixin bgStyle{
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    z-index: 100;
    width:100vw;
    height:100vh;
    transition: all ease 0.3s;
}
.CreateTeamModal{
    &-box{
        display: flex;
        justify-content: center;
    }
    &-bg{
        @include bgStyle;
        opacity: 100;
    }
    &-bg-loading{
        @include bgStyle;
        opacity: 0;
        
    }
    &-body{
        opacity: 100;
        @include ModalStyle;
    }
    &-body-loading{
        @include ModalStyle;
        transform: translateY(-50%) scale(0.7,0.7);
        opacity: 0;
    }
    &-title{
        font-family: "Tway";
        font-size: 30px;
    }
    &-desc{
        padding-top: 30px;
        color:gray;

    }
    &-teaminput{
        margin-top: 10px;
        height:50px;
        width:100%;
        border-radius: 5px;
        border: solid 1px black;
        margin-bottom: 10px;
        text-indent: 20px;
        font-size: 20px;
    }
    &-teampinput:focus{
        border: solid 5px blue;
    }
    &-buttonbox{
        display:flex;
        flex-direction: row;
    }
    &-accept{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 89, 255);
        color:white;
        height:50px;
        width:100px;
        border-radius: 8px;
        margin-right:10px;
    }
    &-accept:hover{
        cursor: pointer;
        background-color: rgb(4, 74, 206);
    }
    &-no{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(241, 241, 241);
        height:50px;
        width:100px;
        border-radius: 8px;
    }
    &-no:hover{
        cursor: pointer;
        background-color: rgb(219, 219, 219);
    }
}