@font-face {
    font-family: "Tway";
    font-weight: 50;
    src: url("../main/TeamComponents/fonts/tway_air.ttf") format("truetype");
  }
@mixin ModalStyle{
    position: absolute;
    top:200px;
    z-index:101;
    background-color: rgb(255, 255, 255);
    width:400px;
    height:130px;
    border-radius: 15px;
    padding:50px;
    transition: all ease 0.3s;
}
@mixin bgStyle{
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    z-index: 100;
    width:100vw;
    height:100vh;
    transition: all ease 0.3s;
}
.InviteUserModal{
    &-box{
        display: flex;
        justify-content: center;
    }
    &-bg{
        @include bgStyle;
        opacity: 100;
    }
    &-bg-loading{
        @include bgStyle;
        opacity: 0;
        
    }
    &-body{
        opacity: 100;
        @include ModalStyle;
    }
    &-body-loading{
        @include ModalStyle;
        transform: scale(0.7,0.7);
        opacity: 0;
    }
    &-title{
        font-family: "Tway";
        font-size: 30px;
    }
    &-desc{
        padding-top: 30px;
        color:gray;

    }
    &-urlinput{
        margin-top: 10px;
        height:40px;
        width:100%;
        border-radius: 8px 0px 0px 8px;
        border: solid 1px rgb(139, 139, 139);
        margin-bottom: 10px;
        text-indent: 10px;
        font-size: 15px;
    }
    &-urlinput:focus{
        outline: none;
        
        
    }
    &-buttonbox{
        display:flex;
        flex-direction: row;
    }
    &-accept{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 89, 255);
        color:white;
        height:50px;
        width:100px;
        border-radius: 8px;
        margin-right:10px;
    }
    &-accept:hover{
        cursor: pointer;
        background-color: rgb(4, 74, 206);
    }
    &-no{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(241, 241, 241);
        height:50px;
        width:100px;
        border-radius: 8px;
    }
    &-no:hover{
        cursor: pointer;
        background-color: rgb(219, 219, 219);
    }
    &-inputbox{
        display: flex;
    }
    &-copybutton{
        margin-top: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 89, 255);
        color:white;
        height:44px;
        width:80px;
        border-radius: 0px 8px 8px 0px;
        margin-right:10px;
        border: none;
    }
    &-copybutton:hover{
        cursor: pointer;
        background-color: rgb(4, 77, 214);
    }

}