@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: medium;
    font-style: medium;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}
@mixin ModalStyle{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index:101;
    background-color: rgb(255, 255, 255);
    width:400px;
    height:130px;
    border-radius: 60px;
    padding:40px;
    transition: all ease 0.3s;
}
@mixin bgStyle{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    z-index: 100;
    width:100vw;
    height:100vh;
    transition: all ease 0.3s;
}
.InviteUserModal{
    &-box{
        display: flex;
        justify-content: center;
        font-family: "GmarketSansMedium";
    }
    &-bg{
        @include bgStyle;
        opacity: 100;
    }
    &-bg-loading{
        @include bgStyle;
        opacity: 0;
        
    }
    &-body{
        opacity: 100;
        @include ModalStyle;
    }
    &-body-loading{
        @include ModalStyle;
        transform: translateY(-50%) scale(0.7,0.7);
        opacity: 0;
    }
    &-title{
        font-family: "GmarketSansBold";
        font-size: 30px;
    }
    &-desc{
        padding-top: 30px;
        color:gray;

    }
    &-urlinput{
        margin-top: 10px;
        height:40px;
        width:100%;
        border-radius: 60px 0px 0px 60px;
        border: solid 1px rgb(139, 139, 139);
        margin-bottom: 10px;
        text-indent: 10px;
        font-size: 15px;
    }
    &-urlinput:focus{
        outline: none;
        
        
    }
    &-buttonbox{
        display:flex;
        flex-direction: row;
    }
    &-accept{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 89, 255);
        color:white;
        height:50px;
        width:100px;
        border-radius: 8px;
        margin-right:10px;
    }
    &-accept:hover{
        cursor: pointer;
        background-color: rgb(4, 74, 206);
    }
    &-no{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(241, 241, 241);
        height:50px;
        width:100px;
        border-radius: 60px;
    }
    &-no:hover{
        cursor: pointer;
        background-color: rgb(219, 219, 219);
    }
    &-inputbox{
        display: flex;
    }
    &-copybutton{
        margin-top: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(159,141,247);
        color:white;
        height:44px;
        width:80px;
        border-radius: 0px 60px 60px 0px;
        margin-right:10px;
        border: none;
        font-family: "GmarketSansMedium";
    }
    &-copybutton:hover{
        cursor: pointer;
        background-color: rgb(142, 124, 236);
    }

}