.save{
    &-body{
        background-color: rgb(238, 238, 238);
        height:90px;
        width:calc(100vw - 490px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        margin:10px;
        position: absolute;
        bottom:0px;
        opacity: 100%;
        transition: transform ease 0.2s,background-color ease 0.2s;
    }
    &-body:active{
        background-color: rgb(46, 46, 46);
        transform: scale(0.95,0.95);
        transition: transform ease 0.2s, background-color ease 0.2s;
    }
    &-body:hover{
        cursor: pointer;
    }
    &-icon{
        filter: invert(59%) sepia(21%) saturate(1137%) hue-rotate(209deg) brightness(98%) contrast(97%);
        height:50px;
        width:50px;
    }
    
    &-desc{
        margin-left: 20px;
        font-size: 30px;
        color: rgb(159,141,247);
    }
}