
  @font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: medium;
    font-style: medium;
}
@mixin ModalStyle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    clear: both;
    border-radius: 20px;
    width:180px;
    height:80px;
    margin: 0 auto;
    transform: translateY(40px);
    font-family: 'GmarketSansMedium';
    
}
@mixin IconStyle{
    border-radius: 20px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin:7.5px 10px 7.5px 0px;
    width:50px;
    
    font-family: 'GmarketSansBold';

    transition: all ease 0.2s

}
.Link:visited{
    color:black;
}
.MainGrid{
    &-big{
        display:grid;
        grid-template-columns: 80px 230px calc(100vw - 310px);
    }
    &-small{
        display:grid;
        grid-template-columns: 80px 100vw;
    }

}
.TeamComponent{
    &-body{
        display: inline-block;
        flex:left;
        display:block;
        height:calc(100vh - 80px);
        width:230px;
       

    }
}
.TeamList{
    &-bg{
        background-color: rgb(250, 250, 250);
        height:calc(100vh - 80px);

    }
    &-body{
        width:140px;
        margin:0 auto;
        transform: translateY(30px);
        font-family: 'GmarketSansMedium';
        //border: 1px solid rgb(116, 116, 116);

        background-color: rgb(250, 250, 250);
        padding: 13px;
        text-align: center;
        border-radius: 10px;
        font-size:15px;
        height:50px;
        
    }
  

    &-name{
        color: rgb(116, 116, 116);
        float:left;
    }
    &-icon-lower{
        filter: invert(1);
        float:right;
        height:10px;
        width:10px;
        transform: translateY(40%);
        transition: all ease 0.3s;
    }
    &-icon-upper{
        filter: invert(1);
        float:right;
        height:10px;
        width:10px;
        transform: translateY(60%);
        transform: rotate(180deg);
        transition: all ease 0.3s;
    }

    &-users{
        margin-top: 13px;
        clear: both;
        float:left;
        color:rgb(159,141,247);
    }

}
.Modal{
    &-active{
        @include ModalStyle;
        opacity:1;
        transition: all ease 0.3s;

    }
    &-hidden{
        @include ModalStyle;
        opacity:0;
        visibility: "hidden";
        transition: all ease 0.3s;
        transform: translateY(25px) scale(0.8,0.8) ;   
    }
    &-menu-normal{

        text-decoration: none;
        flex:1;
        padding:13px;
        width:150px;
        font-size: 14px;
        color:rgb(114, 114, 114);
        background-color: rgb(250, 250, 250);
        transition: all ease 0.2s;
    }
    &-menu-active{

        text-decoration: none;
        cursor: pointer;
        flex:1;
        padding:13px;
        width:150px;
        font-size: 14px;
        color:rgb(159,141,247);
        background-color: rgb(250, 250, 250);
    }
}
.TeamCreate{

    height:calc(100vh - 90px);
    background-color: rgb(250, 250, 250);
    padding-left: 15px;
    padding-top: 10px;
    flex:left;
    

    &-icon{
        background-color: rgb(233, 233, 233);
        color:rgb(90, 90, 90);
        @include IconStyle;
    }
    &-icon:hover{
        cursor: pointer;
        background-color: rgb(219, 219, 219);
        @include IconStyle;
    }
    &-icon-active{
        color:rgb(159,141,247);
        background-color: rgba(204, 203, 248, 0.884);
        @include IconStyle;
    }
    &-icon-active:hover{
        cursor: pointer;
        background-color: rgb(198, 197, 247);
        @include IconStyle;
    }
}
