
  @font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@mixin ModalStyle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(90, 90, 90);
    clear: both;
    height:100px;
    border-radius: 5px;
    transform: translateY(-15%);
    width:180px;
    margin: 0 auto;
    overflow-y: auto;   
    overflow-x: hidden; 
    transform: translateY(40px);
}
@mixin IconStyle{
    
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
    text-align: center;
    padding:10px;

    transition: all ease 0.2s

}
.MainGrid{
    &-big{
        display:grid;
        grid-template-columns: 60px 230px calc(100vw - 290px);
    }
    &-small{
        display:grid;
        grid-template-columns: 60px 100vw;
    }

}
.TeamComponent{
    &-body{
        display: inline-block;
        flex:left;
        display:block;

        width:230px;
       

    }
}
.TeamList{
    &-bg{
        background-color: rgb(51, 60, 83);
        height:calc(100vh - 65px);

    }
    &-body{
        width:140px;
        margin:0 auto;
        transform: translateY(30px);
        font-family: 'S-CoreDream-3Light';
        border: 1px solid rgb(255, 255, 255);

        padding: 13px;
        text-align: center;
        border-radius: 5px;
        font-size:15px;
        height:50px;
        
    }
    &-body:hover{
        border: 1px solid rgb(255, 174, 0);
        cursor:pointer
    }

    &-name{
        color: white;
        float:left;
    }
    &-icon-lower{
        filter: invert(1);
        float:right;
        height:10px;
        width:10px;
        transform: translateY(40%);
        transition: all ease 0.3s;
    }
    &-icon-upper{
        filter: invert(1);
        float:right;
        height:10px;
        width:10px;
        transform: translateY(60%);
        transform: rotate(180deg);
        transition: all ease 0.3s;
    }

    &-users{
        margin-top: 13px;
        clear: both;
        float:left;
        color:rgb(255, 186, 59);
    }

}
.Modal{
    &-active{
        @include ModalStyle;
        opacity:1;
        transition: all ease 0.3s;

    }
    &-hidden{
        @include ModalStyle;
        opacity:0;
        visibility: "hidden";
        transition: all ease 0.3s;
        transform: translateY(25px) scale(0.8,0.8) ;   
    }
    &-menu-normal{
        flex:1;
        padding:13px;
        width:100%;
        font-size: 15px;
        color:rgb(114, 114, 114);
        background-color: rgb(255, 255, 255);
        transition: all ease 0.2s;
    }
    &-menu-active{
        cursor: pointer;
        flex:1;
        padding:13px;
        width:100%;
        font-size: 15px;
        color:rgb(255, 166, 0);
        background-color: rgb(255, 255, 255);
        transition: all ease 0.2s;
    }
}
.TeamCreate{
    width:60px;
    height:calc(100vh - 65px);
    background-color: rgb(51, 60, 83);
    flex:left;

    &-icon{
        background-color: rgb(233, 233, 233);
        @include IconStyle;
    }
    &-icon:hover{
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        @include IconStyle;
    }
    &-icon-active{
        color:white;
        background-color: rgb(255, 166, 0);
        @include IconStyle;
    }
    &-icon-active:hover{
        color:white;
        cursor: pointer;
        background-color: rgb(255, 186, 59);
        @include IconStyle;
    }
}
@mixin InviteUserStyle{

    border-radius: 10px;
    transition: all ease 0.2s;
    font-family: 'S-CoreDream-3Light';
    width:140px;
}
.InviteUser{
    font-size: 13pt;
    margin-left: auto;
    &-body-active{
        border: 1px solid rgb(240, 240, 240);
        color: rgb(236, 236, 236);
        @include InviteUserStyle
    }
    &-body-active:hover{
        cursor: pointer;
        border: 1px solid rgb(255, 153, 0);
        color: rgb(255, 153, 0);

    }

}