@mixin AppbarStyle{
    width: 100vw;
    height: 80px;
    font-size: 50px;
    display: flex;

    flex-direction: row;
    align-items: center;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}
.Appbar{
    &-active{
        background-color: rgb(250, 250, 250);
        color: white;
        a:visited{
            color:rgb(0, 0, 0);
            text-decoration: none;
        }
        a:link{
            text-decoration: none;
            color:black;
        }
        @include AppbarStyle;
    }

    &-icon{

        margin-left:20px;
        font-family: 'GmarketSansBold';
        font-size:30px;
       
    }
    &-login_require{
  
        font-size: 13pt;
    
    }
    &-user_profile{
        width:40px;
        text-align: right;
        font-size: 13pt;
        margin-left: auto;
        border-radius: 100px;
        padding:10px;
    }
    &-alarm{
        width:20px;
        filter: invert(1);
        margin:0px;
        padding:8px;
        background-color: rgb(219, 209, 185);
        border-radius: 100px;
        transition: all ease 0.2s;
        
    }
    &-alarm:hover{
        background-color: rgb(233, 223, 200);
        transition: all ease 0.2s;
        
    }
    &-info{
        width:20px;
        filter: invert(1);
        margin:20px;
        padding:8px;
        background-color: rgb(219, 209, 185);
        border-radius: 100px;
        transition: all ease 0.2s;
   
    }
    &-info:hover{
        background-color: rgb(233, 223, 200);
        transition: all ease 0.2s;
        
    }
    &-info-modal{
        font-family: 'S-CoreDream-3Light';
      
        background-color: rgba(0, 0, 0, 0.562);
        position:absolute;
        padding:5px 10px 5px 10px;
        color:white;
        border-radius: 10px;
        
    }
}
@mixin InviteUserStyle{
    padding:5px 20px 5px 20px;
    border-radius: 10px;
    transition: all ease 0.2s;
}
.InviteUser{
    font-size: 13pt;
    margin-left: auto;
    &-body-active{
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        @include InviteUserStyle
    }
    &-body-active:hover{
        cursor: pointer;
        border: 1px solid rgb(255, 153, 0);
        color: rgb(255, 153, 0);

    }

}