@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
.Invite{
    &-box{
        font-family: "Noto Sans KR";
        width:400px;
        height:385px;
        background-color: rgb(39, 39, 39);
        transform: translate(calc(50vw - 50%),calc(50vh - 50%));
        box-shadow: 0px 3px 10px rgb(0, 0, 0);
        border-radius: 10px;
        color:white;
    }
    &-title{

        font-size:30px;
        padding: 10px;
        text-align: center;
    }
    &-desc{

        font-size:15px;
        padding-bottom: 10px;
        text-align: center;
    }
    &-team-title{
        padding: 10px;
        text-align: center;
    }
    &-team-thumbnail{
        display: block;
        object-fit:cover;
        width:380px;
        height:180px;
        background-color: rgb(224, 224, 224);
        border-radius: 10px;
        margin:0 auto;
    
    }
    &-accept-button{
        display: flex;
        flex-direction: column;
        transform: translateY(10px);
        padding: 22px;
        text-align: center;
        background-color: rgb(255, 153, 0);
        border-radius: 10px;
        margin:10px;
        font-size: 20px;
        color:white;
        transform:translateY(-2px);
        transition: all ease 0.2s;
    }
    &-accept-button:hover{
        
        cursor: pointer;
        background-color: rgb(0, 110, 255);
        transition: all ease 0.2s;
    }

}