@mixin dragBarStyle{
    float:right;
    width:5px;
    background-color: rgb(255, 145, 0);
    height:calc(100%);  
    transition:all ease 0.2s;
}
@mixin arrowStyle{
    margin-top:3px;
    margin-right:3px;
    filter:invert(0.8);
    width:10px;
    height:10px;
    display:block;
    transition: all ease 0.2s;
    
}
.DirectoryPath{
    &-body{
        background-color: rgb(51, 60, 83);
        //color:black;
        height:calc(100%);
        color:rgb(221, 221, 221);
        font-size:13px;
        padding-left: 5px;
    }
    &-title{
        width:fit-content;
        margin:5px;
        font-weight: bold;
    }
    &-object-desc-box{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        
        padding:2px;
    }
    &-object-desc-box:hover{
        cursor: pointer;
        background-color: rgb(66, 78, 109);
    }
    &-object{
        color:white;
        
    }
    &-file-box:hover{
        cursor: pointer;
        background-color: rgb(66, 78, 109);
    }
    &-object-over{
        color:rgb(255, 255, 255);
        
        background-color: rgb(66, 78, 109);
    }
    &-files{
        
        float:left;
    }
    &-dragbar{
        @include dragBarStyle;
        opacity: 0;
        
    }
    &-dragbar-active{
        @include dragBarStyle;
        opacity: 1;
    }
    &-dragbar-active:hover{
        cursor:col-resize
    }
    &-folder-arrow-normal{
        @include arrowStyle;
        transform: rotate(-90deg);
    }
    &-folder-arrow-clicked{
        @include arrowStyle;
        transform: rotate(0deg);
    }

}