.FloatingButton{
    &-body{
        width:60px;
        height:60px;
        background-color: orange;
        position: absolute;
        right:10px;
        bottom:10px;
        border-radius: 100px;
        display:flex;
        align-items: center;
        justify-content: center;
        &-icon{
            width:30px;
            height:30px;
            filter: invert(1);
            transform: translateX(3px);

        }
    }
}