.Drive{
    &-box{

    }
    &-flex{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        overflow-y: auto;
        width:100vw;
        height:100%;
    }
    &-bg{
        background-color: rgba(255, 255, 255, 0.445);
        z-index: 1;
        position:absolute;
    }
    
}