.Drive{
    &-box{
        background-color: rgb(255, 255, 255);
    }
    &-flex{
        position: absolute;
        display: flex;
        z-index: 2;
    }
    &-bg{
        z-index: 1;
        width:10vw;
        position:absolute;
        height:100%;
    }
    
}