@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: medium;
    font-style: medium;
}
.ProjectComponent{
    
    height:calc(100vh - 80px);
    overflow-y: auto;
    background-color: rgb(250, 250, 250);
    &-desc{
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: "GmarketSansMedium";
        font-size: 30px;
        color:rgb(119, 119, 119);
        text-indent: 10px;
    }
    &-flex{
        display:flex;
        flex-wrap: wrap;
        
    }
    &-noteam-desc{
        font-family: "Tway";
        font-size:30px;
        margin:10px;
        color:gray;

    }
}
.Card{
    &-body{
        
        height: 150px;

        border-radius: 10px 10px 0px 0px;
        
        margin:10px;
        color: rgb(105, 105, 105);
        font-family: 'GmarketSansMedium';
    }
   
    &-body:hover{
        cursor: pointer;
    }
    &-icon{
     
        font-size: 70px;
        text-align: center;
    }
    &-title{
        width:110px;
        height:auto;
        max-width: 130px;
        background-color: rgb(250, 250, 250);
        word-break: break-all;
        border-radius: 30px;
        box-shadow: 0px 0px 3px lightgray;
        padding: 10px;
        transform: translateY(-10px);
        font-size: 13px;
        transition: all ease 0.2s;
        text-align: center;
    }
    &-title-active{
        width:110px;
        max-width: 130px;
        height:auto;
        background-color: rgb(250, 250, 250);
        word-break: break-all;
        border-radius: 100px;
        box-shadow: 0px 0px 3px lightgray;
        padding: 10px;
        font-size: 13px;
        color: rgb(159,141,247);
        transform: translateY(-10px) scale3d(1.1,1.1,2);
        transition: all ease 0.2s;
        text-align: center;
    }
   

}

.lds-dual-ringc {
    position: absolute;
    transform: translate(calc(50px),-70px);
}
.lds-dual-ringc:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(59, 59, 59) transparent rgb(61, 61, 61) transparent;
    animation: lds-dual-ring 1.2s ease-in-out infinite;
}
@keyframes lds-dual-ringc {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

