@font-face {
    font-family: "Tway";
    font-weight: 50;
    src: url("./fonts/tway_air.ttf") format("truetype");
  }
.ProjectComponent{
    
    height:90vh;
    transform: translateX(10px);
    &-desc{
        padding-top: 30px;
        font-family: "Tway";
        font-size: 30px;
        color:rgb(75, 75, 75);
        text-indent: 10px;
    }
    &-flex{
        display:flex;
        flex-wrap: wrap;
    }
    &-noteam-desc{
        font-family: "Tway";
        font-size:30px;
        margin:10px;
        color:gray;

    }
}
.Card{
    &-body{
        width: 160px;
        height: 140px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 2px 3px lightgray;
        margin:10px;
    }
   
    &-body:hover{
        cursor: pointer;
    }
    &-icon{
        position:absolute;
        font-size: 120px;
        transform: translateX(15px);
        text-align: center;
    }
    &-title{
        width:140px;
        height:auto;
        background-color: white;
        word-break: break-all;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 2px 3px lightgray;
        padding: 10px;
    }
    &-desc-active{
        position:absolute;
        transform:translateY(15px);
        margin:10px;
        color:gray;
        font-size: 10pt;  
        transition: all ease 0.3s;
    }
    &-desc-hidden{
        position:absolute;
        transform:translateY(15px);
        margin:10px;
        color:rgba(126, 126, 126, 0);
        font-size: 10pt;  
        transition: all ease 0.3s;
    }
    &-shadow-active{
        position:relative;
        width:160px;
        height:140px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px 10px 0px 0px;
        transition: all ease 0.3s;
    }
    &-shadow-hidden{
        position:relative;
        width:160px;
        height:140px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 10px 10px 0px 0px;
        transition: all ease 0.3s;
    }
}

.lds-dual-ring {
    position: absolute;
    transform: translate(calc(64px),-80px);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(2, 120, 255) transparent rgb(2, 120, 255) transparent;
    animation: lds-dual-ring 1.2s ease-in-out infinite;
}
@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

